.create_product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.upload {
  max-width: 450px;
  height: 500px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 20px;
  position: relative;
}
#file_up {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
#file_up::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  color: rgb(250, 200, 107);
  font-size: 17rem;
  text-align: center;
  cursor: pointer;
  margin: auto;
}
#file_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
#file_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
#file_img span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}

.create_product form {
  max-width: 500px;
  min-width: 290px;
  width: 100%;
  margin: 15px 30px;
}
.create_product form .row {
  width: 100%;
  margin: 15px 0;
}
.create_product form input,
textarea {
  width: 100%;
  min-height: 40px;
  padding: 0 5px;
}
.create_product form button {
  width: 200px;
  height: 40px;
  background: #555;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

/* .image-gallery-container {
  padding: 2rem 0;
}

.image-gallery-btn {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  border-radius: 20px;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  font-size: large;
}

.image-gallery-btn span {
  font-weight: lighter;
  font-size: small;
  padding-top: 0.5rem;
}

.image-gallery-input {
  display: none;
}

.image-gallery {
  padding: 0;
  margin: 0;
}

.image {
  margin: 1rem 0.5rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.image button {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border: none;
  color: white;
  background-color: lightcoral;
}

.image button:hover {
  background-color: red;
}

.image p {
  padding: 0 0.5rem;
  margin: 0;
}

.upload {
  max-width: 450px;
  height: 500px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 20px;
  position: relative;
}
.file_up {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
.file_up::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  color: rgb(250, 200, 107);
  font-size: 17rem;
  text-align: center;
  cursor: pointer;
  margin: auto;
}
.file_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
.file_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.file_img span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}

label:hover,
.upload-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.error {
  text-align: center;
}

.error span {
  color: red;
} */
