.categories {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 120px auto;
}
.categories form {
  width: 290px;
  margin-bottom: 20px;
}
.categories label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.categories-input {
  width: 210px;
  height: 35px;
  border: 1px solid #ee4d2d;
  border-radius: 5px;
  padding: 11px 20px;
  box-sizing: border-box;
}

.categories-btn {
  width: 70px;
  height: 30px;
  margin-left: 5px;
  background-color: #ee4d2d;
  border: 1px solid transparent;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 5px;
}

.categories-btn:hover,
.categories-row button:hover {
  opacity: 1;
}
.categories-row {
  min-width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ee4d2d;
  border-radius: 10px;
}

.categories-row button {
  background-color: #ee4d2d;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
}
