.filter_menu {
    display: flex;
    justify-items: right;
    justify-content: right;
    align-items: center;
    column-gap: 10px;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 14px; 
    width: 80%;
    height: 50px;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
}
