.products {
  display: flex;
  /* min-height: calc(100vh - 11.25rem); */
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 1.188rem;
  /* justify-content: space-between; */
  padding-top: 0.3125rem;
  margin: auto;
  width: 80%;
  padding-bottom: 20px;
}

.delete-all {
  width: fit-content;
  margin-left: 10%;
  margin-bottom: 5px;
}

.delete-all button {
  background-color: #ee4d2d;
  border: 1px solid transparent;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 5px;
}

.delete-all button:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .products {
    padding: 0;
    margin: 0;
    column-gap: 0;
    justify-content: space-between;
    width: 100%;
  }
}

@import url("../utils/productItem/productItem.css");
