.btn1 {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    font-size: 14px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
    min-width: 80px;
    max-width: 250px;
    font-size: 16px;
    height: 48px;
    padding: 0 20px;
}

.btn-shopping-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.btn-add-cart{
    position: relative;
    overflow: visible;
    outline: 0;
    background: rgba(255,87,34,0.1);
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
}

.btn-buy {
    margin-left: 20px;
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
}